.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 5rem;
    justify-content: center;
    align-items: center;
    /*margin-top: 10rem;*/
}

.wraper > img {
    width: 100%;
}

.actions-bar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3em;
    color: #2699FB;
    font-size: 1em;
    line-height: 2.2em;
    padding: 0 1em;
    margin-top: 1em;
    font-weight: bold;
}

@media only screen and (max-device-width: 1366px){
    .board{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-device-width: 812px){
    .board{
        grid-template-columns: 1fr;
    }
}