#closeUserMenu p{
    /*margin-top: 5px;*/
    font-weight: bold;
}

#signUpMenuBG{
    position: fixed;
    width: 20rem;
    height: 25rem;
    background-color: rgb(93, 117, 165);
    left: 50%;
    top: 50%;
    margin-top: -10rem;
    margin-left: -12.5rem;
    border-radius: 2rem;
}

#signUpMenuBack{
    position: fixed;
    width: 25rem;
    height: 30rem;
    background-color: rgba(47, 79, 79, 0.7);
    left: 50%;
    top: 50%;
    margin-top: -12.5rem;
    margin-left: -15rem;
    border-radius: 2rem;
}

#signUpMenu{
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 8em;*/
}

#signUpMenu > input {
    padding-left: 0.5rem;
    margin: 0 1rem 1rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2rem;

    /* font */
    color: #2699FB;
    line-height: 2.5rem;
    font-size: 1rem;
}

#signUpMenu > a{
    margin-top: -0.5rem !important;
    color: #120dff;
}

#signUpMenu > button {
    margin: 0 1rem 1rem 1rem;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2rem;
    border: none;
    line-height: 2.5rem;
    font-size: 1em;
}

#signUpMenu > a{
    margin-top: -1rem;
    margin-bottom: 1rem;
    font: 80%wv Arial;
    text-align: left;
}

#backToBoardButton{
    background-color: #429aff !important;
    margin-top: 2rem !important;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4rem;
}