#recipieBg{
    width: 90%;
    height: 100%;
    background: rgba(47, 79, 79, 0.6);
    margin-left: 5%;
    margin-right: 5%;
}

#recipie{
    width: 100%;
    height: inherit;
}

#headBlock{
    border: 2px solid white;
    width: 100%;
    height: 20rem;
    display: inline-block;
    position: relative;
}

#recipiePhoto{
    height: 20rem;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

#titleBlock{
    position: absolute;
    white-space: nowrap;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titleBlock > p{
    font: 4rem Arial bold;
    color: white;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

#textBlock{
    text-align: center;
    margin-top:6rem;
    height: 1.75rem;
    width: 107rem;
    background: rgba(255,255,255, 0.5);
}

#textBlock > p{
    display: inline;
    margin-top: 1rem;
    font: 1.25rem Arial;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

#recipieBody{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#ingridientList{
    width: 25rem;
    height: 100%;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.4);
}

#ingridientList > p{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

#caloriesList > p{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}

#recipieInstruction{
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
}

#instructionText{
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.25rem;
}

#divider{
    height: 1rem;
    border-width: 2px 0;
    -moz-border-top-colors: black;
    border-color: black;
    width: 90%;
}