#formBG{
    position: absolute;
    width: 90%;
    height: 100vh;
    background: rgba(255,255,255, 0.5);
    left: 50%;
    transform: translate(-50%);
}

#formContainer{
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-row{
    width: 100%;
    margin: 0;
}

#headerText{
    position: relative;
    font: 4rem Arial;
    color: #000000;
    text-align: center;
}

.buttonGroup{
    /*position: relative;*/
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.buttonGroup > button{
    width: 15rem;
    border-radius: 10rem;
}


#submitButton{
    background: #0f9cff;
}

#inputSurame{
    padding-right: 0;
}


