body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: inherit;
    max-width: none;
    min-height: 100vh;
    padding: 0;
    background: linear-gradient(180deg, #5477a5 0%, #50a57b 100%) no-repeat center;
    background-size: cover;
    opacity: 1;
}

.userButton{
    width: 6rem;
    height: 6rem;
    display: flex;
    opacity: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    border: 0;
    background: #7FC4FD 0% 0% no-repeat padding-box;
}

.userButtonText{
    text-align: center;
    font: 100%vw Arial bold;
    display: inline;
    letter-spacing: 0;
    color: rgba(15, 34, 255, 0.86);
    opacity: 1;
    margin-top: auto;
}

#userPhoto{
    width: 3.5rem;
    height: 3.5rem;
    left: 50%;
    top: 50%;
    margin-top: 1rem;
    margin-left: 0.2rem;
    border-radius: 5rem;
}

