#userMenuBg{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(47, 79, 79, 0.7);
    z-index: 1500;
}

#userMenuContainer{
    position: fixed;
    width: 16em;
    height: 25em;
    background-color: #426297;
    left: 50%;
    top: 50%;
    margin-top: -7.5em;
    margin-left: -13em;
    border-radius: 1rem;
}

#userMenuBack{
    position: fixed;
    width: 25em;
    height: 35em;
    background-color: rgba(47, 79, 79, 0.7);
    left: 50%;
    top: 50%;
    margin-top: -12.5em;
    margin-left: -17.5em;
    border-radius: 1rem;
}

#userMenu{
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}

#userMenu > button {
    margin: 0 1em 1em 1em;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;
    line-height: 2.5em;
    font-size: 1em;

    width: 10em;
    height: 3em;
}

#closeUserMenu{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid black;
    text-align: center;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

#closeUserMenu > p{
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 1px;
}

#logoutButton{
    background-color: #5E96DF !important;
    margin-top: 4em !important;
}