.user{
    height: inherit;
    width: 90%;
    background-color: rgba(72, 101, 121, 0.7);
    margin-left: 5%;
    margin-right: 5%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
#boardWithQuickFilterAndSearch{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#recipiesAndStats{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#recipieBoard{
    height: 100%;
    width: 100%;
    background-color: rgba(202, 192, 148, 0.87);
}

#userPlate{
    width: 100%;
    height: 15rem;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userPanelPhoto{
    height: 7rem;
    width: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    border-radius: 10rem;
}

#userPanelName{
    /*top: 70%;*/
    position: relative;
    font: 2rem Arial;
    color: #151c2d;
    margin-left: 10rem;
}

#userPanelStats{
    height: 100%;
    width: 30rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

#recipie{
    border: 2px solid white;
    background-color: rgba(255,255,255,0.2);
}

#userPanelStats > p{
    margin: 1.5rem;
    font: 1.5rem Arial;
    color: #151c2d;
}